# yaml-language-server: $schema=../.helm-shared/values.schema.json

# shared values for all services

global:
  ioc_group: {{ ioc_group }}
  location: {{ location }}
  enabled: true

ioc-instance:
  # useHostNetwork - use host network for IOC - required for Channel Access
  # to work outside of the cluster
  hostNetwork: true
