apiVersion: v2
name: {{ instrument }}-rabbitmq
description: RabbitMQ instance for DAQ services on {{ instrument }}
version: 2.1.8

# When we deploy with the edge-containers-cli we override this on the command line.
# Direct deployment with Helm will use the default beta value.
appVersion: 4.1.3

type: application

dependencies:
  - name: rabbitmq
    version: 2.1.8
    repository: https://groundhog2k.github.io/helm-charts/
