rabbitmq:
  auth:
    username: admin
    existingPasswordSecret: rabbitmq-secrets
    existingErlangSecret: rabbitmq-secrets
  extraPlugins: rabbitmq_jms_topic_exchange,rabbitmq_stomp
  persistence:
    enabled: false
  initScriptsCM: rabbitmq-init
  rbac:
    create: false
  serviceAccount:
    create: false
    name: default-full-access-mounted
  extraContainerPorts:
    - name: stomp
      containerPort: 61613
  service:
    type: LoadBalancer
    # loadBalancerIP: <loadBalancerIP> 
    extraPorts:
      - name: stomp
        port: 61613
        targetPort: stomp
