apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ inst.secret_prefix }}rabbitmq-secrets
  namespace: {{ cluster_namespace }}
spec:
  encryptedData:
    rabbitmq-erlang-cookie: 
    