To request an Ingress for `{{ instrument }}-blueapi.diamond.ac.uk` in the `{{ cluster_namespace }}` namespace:

1. Go to the Scientific Computing Help Desk at [schelpdesk.diamond.ac.uk](https://schelpdesk.diamond.ac.uk) and navigate to **Cloud → New Ingress**.
2. Provide the following details:

    - **Cluster Name:**  
      Use `{{ cluster_name }}` in the description if the cluster is not Argus or Pollux.
    - **Namespace Name:**  
      `{{ cluster_namespace }}`
    - **Ingress Name:**  
      `{{ instrument }}-blueapi.diamond.ac.uk`


Please add the instrument session in the worker.env.metadata.instrument_session