blueapi:
  {% if not gateway %}
  hostNetwork: true
  # To run as hostNetwork requires running as k8s-{{ domain }}-beamline
  securityContext:
    runAsUser: # Find the required id with `id k8s-{{ domain }}-beamline`
  {% endif %}
  ingress:
    enabled: {% if auth_enabled %}false{% else %}true{% endif %}
    hosts:
      - host: {{ instrument }}-blueapi.diamond.ac.uk
        paths:
          - path: /
            pathType: Prefix
  
  extraEnvVars:
    - name: BEAMLINE
      value: {{ instrument }}
    - name: INSTRUMENT
      value: {{ instrument }}{% if gateway %}
    - name: EPICS_PVA_NAME_SERVERS
      value: {{ domain }}-epics-gateways:9075
    - name: EPICS_CA_NAME_SERVERS
      value: {{ domain }}-epics-gateways:9064
    - name: EPICS_PVA_AUTO_ADDR_LIST
      value: "NO"
    - name: EPICS_CA_AUTO_ADDR_LIST
      value: "NO"{% endif %}

  worker:
    env:
      metadata:
        instrument: {{ instrument }}
      sources:
      - kind: dodal
        module: dodal.beamlines.{{ instrument }}
      - kind: planFunctions
        module: dodal.plans
      events:
        broadcast_status_events: false
    stomp:
      auth:
        username: guest
        password: guest
      url: tcp://{{ instrument }}-rabbitmq-daq.diamond.ac.uk:61613
      enabled: true
    logging:
      level: "INFO"
      graylog:
        enabled: true
    {% if auth_enabled %}
    oidc:
      well_known_url: "https://identity.diamond.ac.uk/realms/dls/.well-known/openid-configuration"
      client_id: "blueapiCli"
      logout_redirect_endpoint: "oauth2/sign_out"
    {% endif %}
    {% if numtracker_enabled %}
    numtracker:
      url: https://numtracker-staging.diamond.ac.uk/graphql
    {% endif %}
    scratch:
      root: /dls_sw/{{ instrument }}/software/blueapi/scratch
      repositories:
        - name: dodal
          remote_url: https://github.com/DiamondLightSource/dodal.git
  initContainer:
    enabled: true

{% if auth_enabled %}
oauth2:
  proxyVarsAsSecrets: false
  extraEnv:
    - name: OAUTH2_PROXY_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: blueapi-secret
          key: client-secret
    - name: OAUTH2_PROXY_COOKIE_SECRET
      valueFrom:
        secretKeyRef:
          name: blueapi-secret
          key: cookie-secret
  config:
    configFile: |-
      skip_provider_button = true
      skip_jwt_bearer_tokens = true
      cookie_refresh="1m"
      cookie_expire="30m"
      email_domains = [ "*" ]
      skip_auth_routes=[
      "GET=^/config/oidc",
      "GET=^/healthz"
      ]
      whitelist_domains=["identity.diamond.ac.uk"]
  ingress:
    enabled: true
    hosts:
      - {{ instrument }}-blueapi.diamond.ac.uk
    annotations:
      nginx.ingress.kubernetes.io/proxy-buffer-size: "8k"
    path: /
    pathType: Prefix
  alphaConfig:
    enabled: true
    configData:
      upstreamConfig:
        proxyRawPath: true
        upstreams:
          - id: blueapi
            path: /
            uri: http://{{ instrument }}-blueapi
      providers:
        - provider: oidc
          id: identity.diamond.ac.uk
          clientID: {{instrument}}Blueapi
          clientSecret: ${OAUTH2_PROXY_CLIENT_SECRET}
          oidcConfig:
            insecureAllowUnverifiedEmail: true
            insecureSkipNonce: true
            emailClaim: sub
            audienceClaims: ["aud"]
            extraAudiences: ["account"]
            issuerURL: https://identity.diamond.ac.uk/realms/dls
      injectRequestHeaders:
        - name: Authorization
          values:
            - claim: access_token
              prefix: "Bearer "
{% endif %}