blueapi:
  hostNetwork: true
  ingress:
    enabled: false
    hosts:
      - host: {{ instrument }}-blueapi.diamond.ac.uk
        paths:
          - path: /
            pathType: Prefix
  
  worker:
    env:
      metadata:
         instrument: {{ instrument }}
      sources:
      - kind: dodal
        module: dodal.beamlines.{{ instrument }}
      - kind: planFunctions
        module: dodal.plans
      events:
        broadcast_status_events: false
    stomp:
      auth:
        username: guest
        password: guest
      url: tcp://{{ instrument }}-rabbitmq-daq.diamond.ac.uk:61613
      enabled: true
    logging:
      level: "INFO"
      graylog:
        enabled: true
        url: tcp://graylog-log-target.diamond.ac.uk:12231/
    # oidc:
    #  well_known_url: "https://authn.diamond.ac.uk/realms/master/.well-known/openid-configuration"
    #  client_id: "blueapi-cli"
    scratch:
      root: /dls_sw/{{ instrument }}/software/blueapi/scratch
      repositories:
        - name: dodal
          remote_url: https://github.com/DiamondLightSource/dodal.git
  initContainer:
    enabled: true
