epics-opis:

{% if type != 'beamline' %}
  # the location where the IOCs will run - same as beamline for beamlines
  location: {{ location }}
  # the name of the repository in which the IOC is grouped
  ioc_group: {{ ioc_group }}
{% else %}
  # the beamline name - only set for beamlines
  beamline: {{ beamline }}
  # the location where the IOCs will run - same as beamline for beamlines
  ioc_group: {{ beamline }}
  # the name of the repository in which the IOC is grouped
  location: {{ beamline }}
{%- endif %}

  # useAffinity - only run on nodes with label beamline:<beamline-name>
  # or location:<location-name>
  # Comment out useAffiniity for dedicated cluster, set to true for shared cluster
  {% if cluster_type == "dls_shared" %}
  useAffinity: true
  {% endif %}

  # extra toleration for the shared cluster training rigs
  {%- if node_type %}
  tolerations:
    - key: "nodetype"
      operator: "Equal"
      value: "{{ node_type }}"
      effect: "NoSchedule"
  {% endif %}