# yaml-language-server: $schema=https://github.com/epics-containers/ioc-adsimdetector/releases/download/2024.6.1/ibek.ioc.schema.json

ioc_name: "{% raw %}{{ _global.get_env('IOC_NAME') }}{% endraw %}"

description: Generic instance for testing generic IOCs

entities:
  - type: epics.EpicsEnvSet
    name: EPICS_TZ
    value: "GMT0BST"

  - type: devIocStats.iocAdminSoft
    IOC: "{% raw %}{{ ioc_name | upper }}{% endraw %}"

  - type: epics.StartupCommand
    command: dbLoadRecords("/epics/ioc/config/ioc.db")

  - type: epics.PostStartupCommand
    command: |
      dbpf EXAMPLE:IBEK:A "2.54"
      dbpf EXAMPLE:IBEK:B "2.61"
      dbgf EXAMPLE:IBEK:SUM
