### RabbitMQ Setup

Follow the steps below to configure RabbitMQ for the `{{ cluster_namespace }}` namespace.

---

#### 1. Generate Secrets

Generate two secure random alpha numeric strings:

* One for the RabbitMQ admin **password**
* One for the **Erlang cookie** ( must be between 13 and 255 characters long)

Use a reliable password generator to ensure sufficient entropy.

---

#### 2. Seal the Secrets

Use [`kubeseal`](https://github.com/bitnami-labs/sealed-secrets?tab=readme-ov-file#raw-mode-experimental) in raw mode to seal each secret. Replace `<SECRET>` with your generated string:

```bash
echo -n <SECRET> | kubeseal --raw --namespace {{ cluster_namespace }} --name rabbitmq-secrets
```

This will output a sealed string. Add the resulting output into the appropriate fields in `templates/secret.yaml`:

* `rabbitmq-password`
* `rabbitmq-erlang-cookie`

---

#### 3. Configure Ingress (Recommended)

Request a static IP address for the HTTP ingress from the Scientific Computing help desk.

Once assigned, set the static IP under the `loadBalancerIP` field in your `values.yaml` file.
