beamline:
  short_dom: "{{ domain | upper }}"
  long_dom: "{{ location | upper }}"
  desc: "{{ domain | upper }} Beamline or Tech Area"

# add components for techUI-builder to build screens for
components: []

  # DCAM1:
  #   desc: GigE camera EXAMPLE
  #   prefix: {{ location | upper }}-DI-DCAM-01
