blueapi:
  hostNetwork: true
  resources:
    limits:
      cpu: 1000m
      memory: 500Mi
    requests:
      cpu: 500m
      memory: 100Mi
  ingress:
    create: true
    host: {{ beamline }}-blueapi.diamond.ac.uk
  
  worker:
    env:
      metadata:
         instrument: {{ beamline }}
         instrument_session: cm40635-3
      sources:
      - kind: dodal
        module: dodal.beamlines.{{ beamline }}
      - kind: planFunctions
        module: dodal.plans
      # - kind: planFunctions
      #   module: {{ beamline }}_bluesky.plans
      # - kind: planFunctions
      #   module: {{ beamline }}_bluesky.stubs
      events:
        broadcast_status_events: False
    stomp:
      auth:
        username: guest
        password: guest
      host: {{ beamline }}-rabbitmq
      enabled: true
    oidc:
      well_known_url: "https://authn.diamond.ac.uk/realms/master/.well-known/openid-configuration"
      client_id: "blueapi-cli"
    scratch:
      root: /dls_sw/{{ beamline }}/software/blueapi/scratch
      repositories:
        - name: dodal
          remote_url: https://github.com/DiamondLightSource/dodal.git
  initContainer:
    enabled: true
