apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: {{ inst.secret_prefix }}blueapi-secret
  namespace: {{ cluster_namespace }}
spec:
  encryptedData:
    client-secret: 
    cookie-secret: 
    {% if inst.tiled_enabled %}
    tiled-writer-secret:

    {% endif %}