apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: rabbitmq-secrets
  namespace: {{ cluster_namespace }}
spec:
  encryptedData:
    rabbitmq-password: 
    rabbitmq-erlang-cookie: 
