nexus-file-converter:
  debug:
    enabled: false
    suspend: false
  beamline: {{ instrument }}
  template:
    entry/:
      NX_class@: NXentry
      instrument/:
        NX_class@: NXinstrument
        name: {{ instrument }}

  volumes:
  - name: nexus-data
    hostPath:
      path: /dls/{{ domain }}/data
      type: DirectoryOrCreate

  volumeMounts:
  - name: nexus-data
    mountPath: /dls/{{ domain }}/data
    mountPropagation: HostToContainer

  application:
    server:
      port: 8084
    spring:
      profiles:
        active: rabbitmq
      rabbitmq:
        host: {{ instrument }}-rabbitmq-daq.diamond.ac.uk
        username: guest
        password: guest
    files:
      output:
        {% if numtracker_enabled %}
        directory:
          staticDirectory: ""  # explicitly empty, get from StartDocument metadata
        {% else %}
        # directory:
        #   staticDirectory: /dls/{{ domain }}/data/2025
        nameTemplate: <DATA_SESSION>
        {% endif %}
        devices:
          types:
            synchrotron: NX_SOURCE
#  securityContext:
#    runAsUser:
#    runAsGroup:
